# CMake 관련 파일
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# 빌드 결과물 디렉터리
build/
[Bb]uild/
[Bb]uilds/

# 컴파일된 라이브러리 및 오브젝트 파일
*.a
*.so
*.o
*.obj
*.dll
*.lib
*.dylib

# 실행 파일
*.exe
*.out
echo_svr

# IDE 및 에디터 설정 파일
.vscode/*
.vs/
*.suo
*.user
# 단, 공유할 설정 파일은 예외로 둡니다.
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json


# 로그 파일
*.log

# 기타 임시 파일
*~
*.swp